@import url('https://fonts.cdnfonts.com/css/chava');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contentbox {
    display: flex;
    justify-content: space-between;
}

.contentcard {
    width: 400px;
}

section {
    padding: 0 calc(10.6vw - 15.8px) calc(11.1vw + 18.4px);
}

h2 {
    font-size: 58px;
    font-family: "TT Hoves";
}

.contentcard h3 {
    font-size: 27px;
    font-weight: 600;
}

.contentcard p {
    font-size: 27px;
    line-height: 38px;
}

section.saleContainer {
    background-color: blueviolet;
    margin-top: 50px;
    padding: calc(4.4vw + 23px) 0 calc(5.3vw + 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.time {
    display: flex;
    gap: 20px 85px;
    margin-bottom: calc(4vw + 6px);
}

.date {
    font-size: calc(12.6vw + 6px);
    font-family: "Chava";
}

button {
    width: 328px;
    padding: 20px 0;
    border-radius: 12px;

    font-size: 18px;
    font-weight: 500;
    line-height: 117%;
    cursor: pointer;
}

button.white {
    background-color: white;
    color: blueviolet;
    border: 1px solid blueviolet;
}


.timeCard span {
    font-size: calc(1.9vw + 24px);
    display: block;
    text-align: center;
}

.h3{
    color:white;
    font-weight: 700;
    font-size: calc(4.1vw + 4.7px);
}